/*  General styling ----------------------- */

* {
  background-color: rgb(255, 252, 238);
  margin: 10px 10px auto;
  font-family: "birch-std", serif;
  font-weight: 400;
  font-style: normal;
}

button,
#search-input,
#filter {
  font-size: 1.5rem;
}

h1 {
  text-align: center;
  font-size: 3rem;
}
h3 {
  font-size: 1.2rem;
}

nav,
.counter_container {
  display: flex;
  justify-content: center;
}

.navigation {
  display: flex;
  justify-content: space-around;
}

.counter_div,
.counter_house {
  display: flex;
  justify-content: space-around;
  border: solid 1px brown;
}

/* Sorting styling */
#sorting th.sortby[data-sort-direction="desc"]::after {
  content: " 👆 ";
}

#sorting th.sortby[data-sort-direction="asc"]::after {
  content: " 👇 ";
}

#sorting th.sortby {
  background-color: orange;
}

/* Tables styling */

#list {
  /* border-collapse: collapse; */
  width: 100%;
}

#list th {
  background-color: rgb(96, 59, 5);
  color: whitesmoke;
  cursor: pointer;
}

#expelledlist {
  border-collapse: collapse;
  width: 100%;
}

/* List of expelled students */
#expelledstudents {
  display: none;
}

#list th,
#list td,
#expelledlist th,
#expelledlist td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
  font-size: 1.5rem;
}

#expelledlist th {
  background-color: orange;
}

td[data-field="expelled"]::after {
  content: " ❌ ";
}

.iqsquad {
  cursor: pointer;
}
td[data-field="prefect"]::after {
  content: " 🥇 ";
}

td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
}

/* Removes the medal icon from the expelled student */
#expelledstudents td[data-field="prefect"][data-prefect="false"]::after {
  filter: grayscale(1);
  content: " ";
}

/* popup dialog boxes ------------------------------- */

.hide {
  visibility: hidden;
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

button.close_button {
  position: absolute;
  right: 0;
  top: 0;
}

.dialog {
  padding: 1rem;
}
